.people {
  padding: 0 100px;
  margin-top: 50px;
}
.card {
  border-radius: 12px !important;
  position: relative;
}

.card-body {
  padding-bottom: 0 !important;
}

.profilePic {
  position: absolute;
  border: 4px solid white;
  border-radius: 50%;
  width: 150px;
  top: 70px;
  height: 150px;
}

.cardImg {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  height: 180px;
}

.btn1 {
  width: 90px;
  padding: 0.2em 0;
  background-color: #0c5cac !important;
  border-color: #0c5cac !important ;
}

.btn1:hover {
  background-color: #004182 !important;
  border-color: #004182 !important ;
}

.btn2 {
  padding: 0.2em 0.8em;
}

.btn3 {
  width: 80px;
  padding: 0.2em 0;
}

.card-footer {
  background-color: transparent !important;
  border: 1px solid grey;
  border-radius: 12px !important;
  height: 80px;
}

.camerabtn {
  border: 1px transparent grey !important;
  border-radius: 50%;
  background-color: #ebebeb;
  height: 30px;
  width: 30px;
  padding: 6px;
}

.people_also_viewed {
  background: white;
  border-radius: 10px;
  padding: 20px 30px;
  max-width: 100%;
  margin: 0;
  margin-top: 45px;
}
.profils_container {
  display: flex;
  padding: 10px 0;
}
.profile_info {
  padding: 0 20px;
}
.profils_container > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.name {
  font-weight: bold;
  font-size: small;
}
.connect_button {
  color: gray;
  border: 2px solid gray;
  padding: 5px 20px;
  border-radius: 60px;
  background-color: white;
}
.connect_button:hover {
  border: 2px solid rgb(73, 73, 73);
  background-color: rgb(165, 165, 165);
  color: rgb(255, 255, 255);
}

